.App {
  text-align: center;
  margin: 0px;
  color: rgb(21, 0, 48)
}

.navigate {
  height: 10vh;
  font-size: small;
  display: flex;
  justify-content: space-evenly;
}

.navi-el {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 25vw;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid grey;
}

.navi-el:hover {
  text-decoration: underline;
  border: 1px solid grey;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: black;
}

a.hover {
  color: grey;
}

a.visited {
  text-decoration: none;
  color: black;
}

form {
  border: 1px solid #777;
  padding: 5% auto;
  margin: 10% 30%;
  width: 40%;
  box-sizing: border-box;
}

input {
  width: 60%;
  padding: 5px;
  margin: 2%;
  border-radius: 5px;
}

.details {
  display: flex;
  border: 1px solid #777;
  align-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(163,180,194,1) 0%, rgba(177,223,246,1) 100%);
}

button {
  width: 150px;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: grey;            
  box-shadow: 0 0 20px #eee;
  display: block;
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
}

button:hover {
  background-position: right center;
  color: #000;
  text-decoration: none;
}

table {
  margin: 2% auto;
}

tr {
  background-color: white;
}

td th{
  padding: 1%;
  width: 30vw;
}